
body {
  scroll-behavior: smooth;
}
section h2 {
  margin-bottom: 20px;
  font-weight: bold;
}
.card {
  border: none;
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-10px);
}
